{{ file_managed_by_ansible }}

{% if rhel8cis_rule_1_5_2 %}
# Control 1.5.2 - protected_hardlinks
fs.protected_hardlinks = 1
{% endif %}
{% if rhel8cis_rule_1_5_3 %}
# Control 1.5.3 - protected_symlinks
fs.protected_symlinks = 1
{% endif %}
{% if rhel8cis_rule_1_5_3 %}
# Control 1.5.3 - suid_dumpable
fs.suid_dumpable = 0
{% endif %}
