## Ansible controlled file
# Added as part of ansible-lockdown CIS baseline
# provided by {{ company_title }}

[org/gnome/desktop/media-handling]
automount-open=false

[org/gnome/desktop/media-handling]
automount=false
