# Files for ansible-signing

include site.yml
include MANIFEST.in
include *.md *.rst
include ansible.cfg
include .ansible-lint .gitattributes .gitignore .yamllint .pre-commit-config.yaml LICENSE
recursive-exclude .git *
recursive-include .github *.yml *.md *.tf *.tfvars
recursive-include collections *.yml
recursive-include defaults *.yml
recursive-include files *
recursive-include handlers *.yml
recursive-include meta *.yml
recursive-include molecule *.yml
recursive-include tasks *.yml
recursive-include templates *.j2
recursive-include vars *.yml
