---
# Preliminary tasks that should always be run

- name: "PRELIM | Add the required packages"
  tags:
      - always
  ansible.builtin.package:
      name:
          - python3-libselinux
          - python3-rpm
      state: present

# List users in order to look files inside each home directory
- name: "PRELIM | List users accounts"
  tags:
      - always
  ansible.builtin.shell: "awk -F: '{print $1}' /etc/passwd"
  changed_when: false
  check_mode: false
  register: users

- name: "PRELIM | Gather interactive user ID min and max"
  when:
      - rhel8uid_info_dynamic
  tags:
      - always
  block:
      - name: "PRELIM | Gather interactive user ID min"
        ansible.builtin.shell: grep ^UID_MIN /etc/login.defs | awk '{print $2}'
        changed_when: false
        failed_when: false
        register: rhel8cis_min_uid

      - name: "PRELIM | Gather interactive user ID max"
        ansible.builtin.shell: grep ^UID_MAX /etc/login.defs | awk '{print $2}'
        changed_when: false
        failed_when: false
        register: rhel8cis_max_uid

      - name: "PRELIM | Setting the fact"
        ansible.builtin.set_fact:
            rhel8uid_interactive_uid_start: "{{ rhel8cis_min_uid.stdout | string }}"
            rhel8uid_interactive_uid_stop: "{{ rhel8cis_max_uid.stdout | string }}"

- name: "PRELIM | Set facts based on boot type"
  tags:
      - always
  block:
      - name: "PRELIM | Check whether machine is UEFI-based"
        ansible.builtin.stat:
            path: /sys/firmware/efi
        register: rhel_08_efi_boot

      - name: "PRELIM | set legacy boot and grub path | Bios"
        ansible.builtin.set_fact:
            rhel8cis_legacy_boot: true
            grub2_path: /etc/grub2.cfg
            rhel8cis_boot_path: /boot/grub2/
        when: not rhel_08_efi_boot.stat.exists

      - name: "PRELIM | set grub fact | UEFI"
        ansible.builtin.set_fact:
            grub2_path: /etc/grub2-efi.cfg
            rhel8cis_boot_path: "/boot/efi/EFI/{{ansible_facts.distribution | lower }}/"
        when: rhel_08_efi_boot.stat.exists

- name: "PRELIM | AUDIT | Ensure permissions on bootloader config are configured | Get grub config file stats"
  ansible.builtin.stat:
      path: "{{ grub2_path }}"
  changed_when: false
  register: grub_cfg
  tags:
      - always

- name: "PRELIM | Gather the package facts before prelim"
  tags:
      - always
  ansible.builtin.package_facts:
      manager: auto

##### Section requirements #####
- name: "PRELIM | Section 1.1 | Create list of mount points"
  tags:
      - always
  ansible.builtin.set_fact:
      mount_names: "{{ ansible_mounts | map(attribute='mount') | list }}"

- name: "PRELIM | Ensure /dev/shm is a separate partition | discover"
  when:
      - rhel8cis_rule_1_1_2_2_1 or
        rhel8cis_rule_1_1_2_2_2 or
        rhel8cis_rule_1_1_2_2_3 or
        rhel8cis_rule_1_1_2_2_4
  tags:
      - always
  ansible.builtin.shell: findmnt -kn /dev/shm
  changed_when: false
  failed_when: rhel8cis_dev_shm_present.rc not in [ 0, 1 ]
  register: rhel8cis_dev_shm_present

- name: "PRELIM | if systemd coredump"
  when:
      - rhel8cis_rule_1_4_4
  tags:
      - always
  ansible.builtin.stat:
      path: /etc/systemd/coredump.conf
  register: systemd_coredump

- name: "PRELIM | Ensure crypto-policies-scripts package is installed"
  tags:
      - always
  ansible.builtin.package:
      name: crypto-policies-scripts
      state: installed

- name: "PRELIM | Gather system-wide crypto-policy settings"
  tags:
      - always
  block:
      - name: "PRELIM | Gather system-wide crypto-policy settings"
        ansible.builtin.shell: 'update-crypto-policies --show'
        changed_when: false
        check_mode: false
        register: rhel8cis_system_wide_crypto_policy

      - name: "PRELIM | Gather system-wide crypto-policy | set fact for crypto policy"
        ansible.builtin.set_fact:
            current_crypto_policy: "{{ rhel8cis_system_wide_crypto_policy.stdout.split(':')[0] }}"

      - name: "PRELIM | Gather system-wide crypto-policy module | set fact for crypto submodule"
        ansible.builtin.set_fact:
            current_crypto_module: "{{ rhel8cis_system_wide_crypto_policy.stdout.split(':')[1] }}"
        when: "':' in rhel8cis_system_wide_crypto_policy.stdout"

- name: "PRELIM | Install dconf if gui"
  when:
      - "'gdm' in ansible_facts.packages"
      - "'dconf' not in ansible_facts.packages"
      - rhel8cis_gui
  tags:
      - always
  ansible.builtin.package:
      name: dconf
      state: present

- name: "PRELIM | Cron Package"
  tags:
      - always
  ansible.builtin.package:
      name: cronie
      state: present

- name: "PRELIM | Find all sudoers files."
  when:
      - rhel8cis_rule_4_3_4 or
        rhel8cis_rule_4_3_5
  tags:
      - always
  ansible.builtin.shell: "find /etc/sudoers /etc/sudoers.d/ -type f ! -name '*~' ! -name '*.*'"
  changed_when: false
  failed_when: false
  check_mode: false
  register: rhel8cis_sudoers_files

- name: "PRELIM | Check authselect package versions"
  tags:
      - always
      - authselect
  vars:
      warn_control_id: 'authselect_pkg_version_too_low'
      authselect_pkg_version: 1.2.6
  block:
      - name: "PRELIM | Check authselect package versions | set fact"
        when: ansible_facts.packages.authselect[0].version is version(authselect_pkg_version, '>=')
        ansible.builtin.set_fact:
            authselect_version: OK

      - name: "PRELIM | Check authselect package versions | Warning"
        when: ansible_facts.packages.authselect[0].version is version(authselect_pkg_version, '<')
        ansible.builtin.debug:
            msg: "Warning!! Authselect controls won't run as authselect pkg version too low"

      - name: "PRELIM | Check authselect package versions | Warning"
        when: ansible_facts.packages.authselect[0].version is version(authselect_pkg_version, '<')
        ansible.builtin.import_tasks:
            file: warning_facts.yml

- name: "PRELIM | Check pam package versions"
  tags:
      - always
  vars:
      warn_control_id: 'pam_pkg_version_too_low'
      pam_pkg_version: 1.3.1
      pam_pkg_release: 25
  block:
      - name: "PRELIM | Check pam package versions | set fact"
        when:
            - ansible_facts.packages.pam[0].version is version(pam_pkg_version, '>=')
            - ansible_facts.packages.pam[0].release is version (pam_pkg_release, '>=')
        ansible.builtin.set_fact:
            pam_version: OK

      - name: "PRELIM | Check pam package versions | Warning"
        when:
            - ansible_facts.packages.pam[0].version is version(pam_pkg_version, '<')
            - ansible_facts.packages.pam[0].release is version (pam_pkg_release, '<')
        ansible.builtin.debug:
            msg: "Warning!! Authselect controls won't run as pam package version too low"

      - name: "PRELIM | Check pam package versions | Warning"
        when:
            - ansible_facts.packages.pam[0].version is version(pam_pkg_version, '<')
            - ansible_facts.packages.pam[0].release is version (pam_pkg_release, '<')
        ansible.builtin.import_tasks:
            file: warning_facts.yml

- name: "PRELIM | Check authselect profile is selected"
  when:
      - rhel8cis_allow_authselect_updates
      - rhel8cis_rule_4_4_2_1 or
        rhel8cis_rule_4_4_2_2 or
        rhel8cis_rule_4_4_2_3 or
        rhel8cis_rule_4_4_2_4 or
        rhel8cis_rule_4_4_2_5 or
        rhel8cis_rule_4_4_3_1_1 or
        rhel8cis_rule_4_4_3_1_2 or
        rhel8cis_rule_4_4_3_1_3
  tags:
      - always
  block:
      - name: "PRELIM | Check authselect profile name has been updated"
        ansible.builtin.assert:
            that: rhel8cis_authselect['custom_profile_name'] != 'cis_example_profile'
            fail_msg: "You still have the default name for your authselect profile"

      - name: "PRELIM | Check authselect profile is selected"
        when: not rhel8cis_authselect_custom_profile_create
        ansible.builtin.shell: authselect current
        changed_when: false
        failed_when: authselect_running_config.rc not in [ 0, 1 ]
        register: authselect_running_config

      - name: "PRELIM | Check authselect profile is selected"
        ansible.builtin.assert:
            that: not rhel8cis_authselect_custom_profile_create and "'example' not in rhel8cis_authselect['custom_profile_name']" or authselect_running_config is defined
            success_msg: "Authselect is running and profile is selected"
            fail_msg: Authselect updates have been selected there are issues with profile selection"

      - name: "PRELIM | Check profile exists if not created"
        ansible.builtin.stat:
            path: "/etc/authselect/custom/{{ rhel8cis_authselect['custom_profile_name'] }}"
        register: rhel8cis_4_4_2_1_profile

      - name: "PRELIM | Check authselect profile exists if not created"
        when: rhel8cis_4_4_2_1_profile.stat.exists
        ansible.builtin.assert:
            that: not rhel8cis_authselect_custom_profile_create
            success_msg: "Authselect is running and profile is selected"
            fail_msg: Authselect updates have been selected but you have stated create and profile already exists"

- name: "PRELIM | Interactive User accounts home directories"
  tags:
      - always
  ansible.builtin.shell: >
      grep -E -v '^(root|halt|sync|shutdown)' /etc/passwd | awk -F: '(!index($7, "sbin/nologin") && $7 != "/bin/nologin" && $7 != "/bin/false") { print $6 }'
  changed_when: false
  register: interactive_users_home

- name: "PRELIM | Section 5.1 | Configure System Accounting (auditd)"
  when: rhel8cis_level_2
  tags:
      - always
  ansible.builtin.package:
      name: audit
      state: present

- name: "PRELIM | 5.2.4.x | Ensure audit log files are mode 0640 or less permissive | discover file"
  ansible.builtin.shell: "grep ^log_file /etc/audit/auditd.conf | awk '{ print $NF }'"
  changed_when: false
  failed_when: audit_discovered_logfile.rc not in [0, 1]
  register: audit_discovered_logfile
  when:
      - rhel8cis_rule_5_2_4_1
      - rhel8cis_rule_5_2_4_2
      - rhel8cis_rule_5_2_4_3
      - rhel8cis_rule_5_2_4_4
  tags:
      - level2-server
      - level2-workstation
      - patch
      - auditd
      - rule_5.2.4.1
      - rule_5.2.4.2
      - rule_5.2.4.3
      - rule_5.2.4.4

- name: "PRELIM | 5.2.4.5/6/7 | Audit conf and rules files | list files"
  ansible.builtin.find:
      path: /etc/audit
      file_type: file
      recurse: true
      patterns: '*.conf,*.rules'
  register: auditd_conf_files
  when:
      - rhel8cis_rule_5_2_4_5 or
        rhel8cis_rule_5_2_4_6 or
        rhel8cis_rule_5_2_4_7
  tags:
      - level2-server
      - level2-workstation
      - patch
      - auditd
      - rule_5.2.4.5
      - rule_5.2.4.6
      - rule_5.2.4.7

- name: "PRELIM | Gather accounts with empty password fields"
  when:
      - rhel8cis_rule_6_2_1
  tags:
      - always
  ansible.builtin.shell: "cat /etc/shadow | awk -F: '($2 == \"\" ) {j++;print $1; } END {exit j}'"
  changed_when: false
  check_mode: false
  register: empty_password_accounts

- name: "PRELIM | Gather UID 0 accounts other than root"
  when:
      - rhel8cis_rule_6_2_8
  tags:
      - always
  ansible.builtin.shell: "cat /etc/passwd | awk -F: '($3 == 0 && $1 != \"root\") {i++;print $1 } END {exit i}'"
  changed_when: false
  check_mode: false
  register: rhel8cis_uid_zero_accounts_except_root

##### Optional #####

- name: "PRELIM | Optional | If IPv6 disable to stop ssh listening"
  when:
      - rhel8cis_ipv6_sshd_disable
      - not rhel8cis_ipv6_required
  tags:
      - always
  ansible.builtin.lineinfile:
      path: /etc/ssh/sshd_config
      regexp: ^AddressFamily
      line: AddressFamily inet
  notify: Restart_sshd

- name: "PRELIM | Optional | If IPv6 disable to stop chronyd listening"
  when:
      - rhel8cis_ipv6_chrony_disable
      - not rhel8cis_ipv6_required
  tags:
      - always
  notify: Restart_chronyd
  block:
      - name: "PRELIM | Optional | If IPv6 disable to stop chronyd listening | Check existence"
        ansible.builtin.shell: grep -E "OPTIONS=.*-4" /etc/sysconfig/chronyd
        changed_when: false
        failed_when: chrony_ipv6_exists.rc not in [ 0, 1]
        register: chrony_ipv6_exists

      - name: "PRELIM | Optional | If IPv6 disable to stop chronyd listening"
        when: chrony_ipv6_exists.stdout | length == 0
        ansible.builtin.lineinfile:
            backrefs: true
            path: /etc/sysconfig/chronyd
            regexp: ^OPTIONS="(.*)"
            line: OPTIONS="\1 -4"

# Optional extra keys to extend auditd not part of CIS but can influence a system
# e.g. admin_space_left: '10%'

- name: PRELIM | Optional | Configure other keys for auditd.conf
  when:
      - rhel8cis_auditd_extra_conf.keys() | length > 0
      - rhel8cis_level_2
  tags:
      - always
  ansible.builtin.lineinfile:
      path: /etc/audit/auditd.conf
      regexp: "^{{ item }}( |=)"
      line: "{{ item }} = {{ rhel8cis_auditd_extra_conf[item] }}"
  notify: Restart_auditd
  loop: "{{ rhel8cis_auditd_extra_conf.keys() }}"
