---

- name: "5.1.4 | PATCH | Ensure permissions on all logfiles are configured"
  when:
      - rhel8cis_rule_5_1_4
  tags:
      - level1-server
      - level1-workstation
      - patch
      - NIST800-53R5_AU-2
      - NIST800-53R5_AU-12
      - logfiles
      - rule_5.1.4
  block:
      - name: "5.1.4 | AUDIT | Ensure permissions on all logfiles are configured | find files"
        ansible.builtin.shell: find /var/log/ -type f -exec ls {} \;
        changed_when: false
        failed_when: false
        register: discovered_logfiles

      - name: "5.1.4 | PATCH | Ensure permissions on all logfiles are configured | change permissions"
        when:
            - item != "/var/log/btmp"
            - item != "/var/log/utmp"
            - item != "/var/log/wtmp"
            - item != "/var/log/lastlog"
        ansible.builtin.file:
            path: "{{ item }}"
            mode: u-x,g-wx,o-rwx
        loop: "{{ discovered_logfiles.stdout_lines }}"

      - name: "5.1.4 | PATCH | Ensure permissions on all logfiles are configured | change permissions"
        ansible.builtin.file:
            path: "{{ item.name }}"
            mode: ('ug-x,o-wx')
        with_fileglob:
            - /var/log/*tmp.*"
            - /var/log/lastlog"
            - /var/log/ssd*"
            - /var/log/SSD*"
