## Ansible controlled file
# Added as part of ansible-lockdown CIS baseline
# provided by {{ company_title }}

# 5.3.3.2.7 Ensure password quality checking is enforced
enforcing = {{ rhel8cis_passwd_quality_enforce_value }}
