## Ansible controlled file
# Added as part of ansible-lockdown CIS baseline
# provided by {{ company_title }}

# 5.3.3.2.4 Ensure password same consecutive characters is configured
maxrepeat = {{ rhel8cis_passwd_maxrepeat_value }}
