# Lock automount settings

# Lock desktop media-handling automount setting
/org/gnome/desktop/media-handling/automount
# Lock desktop media-handling automount-open setting
/org/gnome/desktop/media-handling/automount-open
