- name: "SCORED | 2.1.1 | PATCH | Ensure xinetd is not installed"
  package:
      name: xinetd
      state: absent
  when:
      - rhel8cis_rule_2_1_1
  tags:
      - level1-server
      - level1-workstation
      - scored
      - patch
      - rule_2.1.1