---

- name: "1.3.1 | L1 | Ensure sudo is installed"
  package:
      name: sudo
      state: present
  when:
      - rhel8cis_rule_1_3_1
  tags:
      - level1-server
      - level1-workstation
      - scored
      - sudo
      - patch
      - rule_1.3.1

- name: "1.3.2 | L1 | Ensure sudo commands use pty"
  lineinfile:
      dest: /etc/sudoers
      line: "Defaults    use_pty"
      state: present
  when:
      - rhel8cis_rule_1_3_2
  tags:
      - level1-server
      - level1-workstation
      - scored
      - patch
      - rule_1.3.2

- name: "1.3.3 | L1 | Ensure sudo log file exists"
  lineinfile:
      dest: /etc/sudoers
      regexp: '^Defaults    logfile='
      line: 'Defaults    logfile="{{ rhel8cis_varlog_location }}"'
      state: present
  when:
      - rhel8cis_rule_1_3_3
  tags:
      - level1-server
      - level1-workstation
      - scored
      - patch
      - rule_1.3.3
