# Enable additional options to crypto policies
# Set via ansible-lockdown project - sponsored by MindPoint Group
key_exchange = {{ rhel8cis_optional_key_exchange }}
min_rsa_size = {{ rhel8cis_optional_rsa_size }}
