---

- name: "SCORED | 4.1.1.1 | PATCH | Ensure auditd is installed"
  block:
      - name: "SCORED | 4.1.1.1 | AUDIT | Ensure auditd is installed | Check for auditd packages"
        command: rpm -q audit audit-libs
        changed_when: false
        failed_when: false
        register: rhel8cis_4_1_1_1_auditdpackages

      - name: "SCORED | 4.1.1.1 | PATCH | Ensure auditd is installed | Install auditd packages"
        package:
            name: audit
            state: present
        when: '"auditd" not in ansible_facts.packages'

      - name: "SCORED | 4.1.1.1 | PATCH | Ensure auditd is installed | Install auditd-lib packages"
        package:
            name: audit-libs
            state: present
        when: '"auditd-lib" not in ansible_facts.packages'
  when:
      - rhel8cis_rule_4_1_1_1
  tags:
      - level2-server
      - level2-workstation
      - patch
      - rule_4.1.1.1

- name: "SCORED | 4.1.1.2 | PATCH | Ensure auditd service is enabled"
  service:
      name: auditd
      state: started
      enabled: yes
  when:
      - not rhel8cis_skip_for_travis
      - rhel8cis_rule_4_1_1_2
      - ansible_connection != 'docker'
  tags:
      - level2-server
      - level2-workstation
      - auditd
      - patch
      - rule_4.1.1.2

- name: "SCORED | 4.1.1.3 | PATCH | Ensure auditing for processes that start prior to auditd is enabled"
  block:
      - name: "SCORED | 4.1.1.3 | PATCH | Ensure auditing for processes that start prior to auditd is enabled | Get GRUB_CMDLINE_LINUX"
        shell: grep GRUB_CMDLINE_LINUX /etc/default/grub | sed 's/.$//'
        changed_when: false
        failed_when: false
        register: rhel8cis_4_1_1_3_grub_cmdline_linux
        
      - name: "SCORED | 4.1.1.3 | PATCH | Ensure auditing for processes that start prior to auditd is enabled | Replace existing setting"
        replace:
            dest: /etc/default/grub
            regexp: 'audit=.'
            replace: 'audit=1'
        ignore_errors: yes
        notify: generate new grub config
        when: "'audit=' in rhel8cis_4_1_1_3_grub_cmdline_linux.stdout"

      - name: "SCORED | 4.1.1.3 | PATCH | Ensure auditing for processes that start prior to auditd is enabled | Add audit setting if missing"
        lineinfile:
            path: /etc/default/grub
            regexp: '^GRUB_CMDLINE_LINUX='
            line: '{{ rhel8cis_4_1_1_3_grub_cmdline_linux.stdout }} audit=1"'
        notify: generate new grub config
        when: "'audit=' not in rhel8cis_4_1_1_3_grub_cmdline_linux.stdout"
  when:
      - rhel8cis_rule_4_1_1_3
  tags:
      - level2-server
      - level2-workstation
      - auditd
      - patch
      - rule_4.1.1.3

- name: "SCORED | 4.1.1.4 | PATCH | Ensure audit_backlog_limit is sufficient"
  block:
      - name: "SCORED | 4.1.1.4 | PATCH | Ensure audit_backlog_limit is sufficient | Get GRUB_CMDLINE_LINUX"
        shell: grep GRUB_CMDLINE_LINUX /etc/default/grub | sed 's/.$//'
        changed_when: false
        failed_when: false
        register: rhel8cis_4_1_1_4_grub_cmdline_linux

      - name: "SCORED | 4.1.1.4 | PATCH | Ensure audit_backlog_limit is sufficient | Replace existing setting"
        replace:
            dest: /etc/default/grub
            regexp: 'audit_backlog_limit=\d+'
            replace: 'audit_backlog_limit={{ rhel8cis_audit_back_log_limit }}'
        notify: generate new grub config
        when: "'audit_backlog_limit=' in rhel8cis_4_1_1_4_grub_cmdline_linux.stdout"

      - name: "SCORED | 4.1.1.4 | PATCH | Ensure audit_backlog_limit is sufficient | Add audit_backlog_limit setting if missing"
        lineinfile:
            path: /etc/default/grub
            regexp: '^GRUB_CMDLINE_LINUX='
            line: '{{ rhel8cis_4_1_1_4_grub_cmdline_linux.stdout }} audit_backlog_limit={{ rhel8cis_audit_back_log_limit }}"'
        notify: generate new grub config
        when: "'audit_backlog_limit=' not in rhel8cis_4_1_1_4_grub_cmdline_linux.stdout"
  when:
      - rhel8cis_rule_4_1_1_4
  tags:
      - level1-server
      - level1-workstation
      - patch
      - rule_4.1.1.4