{{ file_managed_by_ansible }}

[Upload]
URL={{ rhel8cis_journal_upload_url }}
ServerKeyFile={{ rhel8cis_journal_upload_serverkeyfile }}
ServerCertificateFile={{ rhel8cis_journal_servercertificatefile }}
TrustedCertificateFile={{ rhel8cis_journal_trustedcertificatefile }}
