# This is a subpolicy to disable Encrypt then MAC
# for the SSH protocol (libssh and OpenSSH)
# Carried out as part of CIS Benchmark rule 1.6.7
# Sponsored by {{ company_title }} / Ansible Lockdown

ssh_etm = 0
